<!--not sure if I will be using it as the app must be one pager and it seems like a layout makes no sense. Will leave it here for a while in case I need to add a temp page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="text/javascript" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    <title>My to do list</title>
</head>
<body>
    <main role="main" class="container">
          <div class="row">
    {% block content %}{% endblock %}
          </div>
    </main>

</body>
</html>